In [1]:
import warnings
warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt
import seaborn as sns

import numpy as np
import pandas as pd
import env

import Naomi_wrangle as w
import Naomi_explore as e

## Questions Answered:
  - 1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?
  - 2. Which lessons are least accessed?
  - 3.  At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?
  - 4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldnâ€™t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?
  - 5. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?

## Executive Summary:
* Question One; Lessons most trafficked: 
    * Data Science - classification 
    * Full Stack Front End - HTML-CSS
    * Full Stack Java - javascript-i
    * Full Stack PHP - index.html

* Question Two; Lessons least trafficked:
    * Data Science Program - case statements
    * Full Stack Front End - content/html-css/gitbook/images/favicon.ico
    * Full Stack Java - java scri
    * Full Stack PHP - css

* Question Three; Cross curriculum access in 2019:
    * The year began with access being restricted, but begining in August restriciton was lifted and students could access pages cross-curriculum
    
* Question Four; Suspicious Activity

# Acquire Data

In [2]:
# acquire data from SQL and save to dataframe
df = w.wrangle_curriculum_data()
df.head(3)

,time,user_id,cohort_id,ip,id,name,slack,start_date,end_date,created_at,updated_at,program_name,end_page
date,,,,,,,,,,,,,
2018-01-26,09:55:03,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_php,/
2018-01-26,09:56:02,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_php,java-ii
2018-01-26,09:56:05,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22 00:00:00,2016-02-06 00:00:00,2016-06-14 19:52:26,2016-06-14 19:52:26,full_stack_php,java-ii/object-oriented-programming

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 816192 entries, 2018-01-26 to 2021-04-21
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   time          816192 non-null  object
 1   user_id       816192 non-null  int64
 2   cohort_id     816192 non-null  object
 3   ip            816192 non-null  object
 4   id            816192 non-null  object
 5   name          816192 non-null  object
 6   slack         816192 non-null  object
 7   start_date    816192 non-null  object
 8   end_date      816192 non-null  object
 9   created_at    816192 non-null  object
 10  updated_at    816192 non-null  object
 11  program_name  816192 non-null  object
 12  end_page      816192 non-null  object
dtypes: int64(1), object(12)
memory usage: 87.2+ MB